In [2]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv') # UCI repo
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [3]:
X = data.iloc[:,:-1]
y = data.outcome
X.head()

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med

In [4]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [5]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=15,random_state=10)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,
                                                   random_state=10)

In [7]:
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
accuracy_score(y_test, y_predict)

0.9922928709055877

In [9]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc      101     0      1      0
good       2    19      0      0
unacc      0     0    371      0
vgood      1     0      0     24

In [17]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         acc       0.97      0.99      0.98       102
        good       1.00      0.90      0.95        21
       unacc       1.00      1.00      1.00       371
       vgood       1.00      0.96      0.98        25

    accuracy                           0.99       519
   macro avg       0.99      0.96      0.98       519
weighted avg       0.99      0.99      0.99       519

In [18]:
confusion_matrix(y_test, y_predict)

array([[101,   0,   1,   0],
       [  2,  19,   0,   0],
       [  0,   0, 371,   0],
       [  1,   0,   0,  24]], dtype=int64)